*{
    margin: 0 auto;
    padding: 0;
}
.title{
    font-size: 50px;
    color: #000000;
    font-family:  AdobeInvisFont, Courier, MyriadPro-Regular;
}
.title1{
    font-size: 50px;
    color: #63d1ff;
    font-family:  AdobeInvisFont, Courier, MyriadPro-Regular;
}
.title-link{
    text-decoration: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.navigation {
    background-color: #35444f;
    text-align: center;

}
.navigation-div{
    display: inline-block;
}
.navigation-link{
    display: inline-block;
    color: #f0f1f2;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 25px;
    text-align: center;

}
.container1 {
    horiz-align: center;
    width: 300px;
    display: inline-block;
    float: left;
    border: #35444f solid 1px;
    margin-top: 50px;

}

.block-link{

    display: inline-block;
    color: #495863;
    font-size: 22px;
    text-decoration: none;
    text-align: left;
    padding: 25px 30px ;
    background-size: 700px 20px;
}
 .block:hover{
     padding-left: 20px;
     background-color: #dbdbdb;

 }
.goat{
    border: #35444f solid 1px;
    height: 525px;
    width: 800px;

}
.goat-img{
    margin-top: 65px;


}
.goat-img:hover{
    transform: scale(1.3);
}
.container2{

    width: 400px;
    display: inline-block;
    margin: 50px 0 50px 0 ;
    text-align: center;
    padding-left: 175px;
}
.text1{
    margin-top: 5px;
}
.text2{
    text-align: left;
    width: 800px;
}
.navigation-link1{
    display: inline-block;
    color: #172431;
    font-size: 20px;
    text-decoration: none;

    padding-left: 30px;
    padding-top: 15px;

}
.navigation1{

    text-align: center;
    background: #b4b7ba;
    height: 50px;
}
.navigation-div{

    background-size: cover;

}
.navigation-div:hover{
    background-color:#222f3a;
}
.navigation-link1:hover{
    color: #3181a6;
    text-decoration: underline;

}
.navigation-div1:hover{
margin-bottom: 10px;
}
.logo{
    display: inline-block;
    padding-left: 350px;
}
.navigation-logo{
    display: inline-block;
}
.navigation-div1{
    display: inline-block;
}